services:
  db:
    image: postgres
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: proj_db
      POSTGRES_USER: bhumik
      POSTGRES_PASSWORD: "1234"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
